.Main .linkGitHub {
  color: lightsalmon;
  font-family: monospace;
  text-decoration: overline;
}

.App {
  font-family: monospace;
}

.App {
  padding: 0px 20px 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin-top: 20px;
  max-width: 650px;
}
.App .title {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.Form {
  margin-top: 20px;
  max-width: 650px;
  margin-left: 40px;
}
.Form .btn {
  background-color: #198754;
}
.Form .btn:hover {
  color: #dadde1;
}
.Weather-overview {
  margin-left: 20px;
}
.Weather-data {
  margin-left: 40px;
}
.Weather-overview ul,
.Weather-data ul {
  list-style-type: none;
  margin-bottom: 0;
}
.Weather-overview .weather-desc {
  text-transform: capitalize;
}
.Weather-data .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.Weather-data .img {
  width: 100px;
  height: auto;
  animation: myAnim 5s ease 0s infinite alternate forwards;
}
@keyframes myAnim {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

.weather-temperature .units,
.weather-temperature .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
  white-space: nowrap;
  overflow: visible;
}
.units a,
.unit a {
  text-decoration: none;
  color: rgb(33, 33, 33);
  font-weight: bold;
}
.units .celsius {
  color: lightsalmon;
}
.unit .fahrenheiht {
  color: lightsalmon;
}
