.WeatherForecast {
  text-align: center;
}
.WeatherForecastTemperature-min {
  margin-left: 5px;
  opacity: 0.6;
}
.WeatherForecastDay {
  padding-left: 0px;
}
.WeatherForecast-img {
  width: 80px;
}
.btn{
  width: 100%
}

@media (max-width: 900px) {
  ol, ul{
    padding-left: 0;
  }
  .btn{
  width: auto;
}
  .col-8, .col-3{
    padding-left: 0;
  }
}
